<!DOCTYPE html>
<html>
  <head>
    <title>Workout Tracker</title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-XXX" crossorigin="anonymous">
  </head>

  <body>
    <div class="container mt-4">
      <% if user_signed_in? %>
        <p>Bienvenido, <%= current_user.email %> | <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "btn btn-link" %></p>
      <% end %>

      <%= yield %>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-XXX" crossorigin="anonymous"></script>
  </body>
</html>
